<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <script type="text/javascript" src="/static/bootstrap.js"></script>
    <script type="text/javascript" src="/static/jquery.bootstrap.modal.forms.js"></script>

    <link href="/static/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-datepicker.js"></script>

        <link href="/static/css/styles.css" rel="stylesheet" />

    <style>
        #chart {
            max-width: 650px;
            margin: 35px auto;
        }
    </style>


</head>
<body>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-21xh{font-weight:bold;background-color:#34cdf9;color:#333333;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.content_wrap {width: 80%; margin: 0 auto;}
.pagination  {text-align: center; width: 100%;}
</style>


    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>

{% include "adminpage/menu.html" %}

<div class="content_wrap">
<form action="/statistics_logs/" method="get">
    <fieldset >
        <select id="stat_type" name="stat_type">
            <option value="D" {% if stat_type != 'M' %} selected {% endif %}> 일별 </option>
            <option value="M" {% if stat_type == 'M' %} selected {% endif %}> 월별 </option>
        </select>
        <div class="radio" style="display: inline">
            <label> <input type="radio" name="optionRadios" id="optionsRadios1" value="total"
                           {% if optionRadios != 'period' %} checked {% endif %}/> 전체 </label>
        </div>
        <div class="radio" style="display: inline">
            <label> <input type="radio" name="optionRadios" id="optionsRadios2" value="period"
            {% if optionRadios == 'period' %} checked {% endif %}/> 기간 : </label>
            <input id="fromDate" data-provide="datepicker" data-date-format="yyyy-mm-dd" name="from_date" value = {{ from_date }}>
            <label> ~ </label>
            <input id="toDate" data-provide="datepicker" data-date-format="yyyy-mm-dd" name="to_date" value = {{ to_date }}>
        </div>
        <button type="submit">조회</button>

    </fieldset>
</form>


<div style="display: inline">
     <div style="display:inline;float:left;width:20%">
        <table class = "tg">
{#    <colgroup>#}
{#        <col width="10px">#}
{#        <col width="10px">#}
{#    </colgroup>#}
        <tr>
            <th class="tg-21xh"> 기준 </th>
            <th class="tg-21xh"> 카운트 </th>
        </tr>
        {%  for stat in stats %}
        <tr>
            <td>{{ stat.stat_date }}</td>
            <td>{{ stat.stat_count }}</td>
        </tr>
        {% endfor %}
         </table>
     </div>

    <div id="chart" style="display:inline;float:left;width:80%">

    </div>
</div>

</div>



    <script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>

    <script>
        var aa = "{{ date_list }}"
        var options = {
            chart: {
                height: 350,
                type: 'bar',
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        position: 'top', // top, center, bottom
                    },
                }
            },
            dataLabels: {
                enabled: true,
                formatter: function (val) {
                    return val ;
                },
                offsetY: -32,
                style: {
                    fontSize: '22px',
                    colors: ["#304758"]
                }
            },
            series: [{
                name: 'Chat',
                data: {{ date_count | safe  }}
            }],
            xaxis: {
                categories: {{ date_list | safe }},
                position: 'bottom',
                labels: {
                    offsetY: -4,

                },
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false
                },
                crosshairs: {
                    fill: {
                        type: 'gradient',
                        gradient: {
                            colorFrom: '#D8E3F0',
                            colorTo: '#BED1E6',
                            stops: [0, 100],
                            opacityFrom: 0.4,
                            opacityTo: 0.5,
                        }
                    }
                },
                tooltip: {
                    enabled: true,
                    offsetY: -35,

                }
            },
            fill: {
                gradient: {
                    shade: 'light',
                    type: "horizontal",
                    shadeIntensity: 0.25,
                    gradientToColors: undefined,
                    inverseColors: true,
                    opacityFrom: 1,
                    opacityTo: 1,
                    stops: [50, 0, 100, 100]
                },
            },
            yaxis: {
                axisBorder: {
                    show: true
                },
                axisTicks: {
                    show: false,
                },
                labels: {
                    show: false,
                    formatter: function (val) {
                        return val ;
                    }
                }

            },
            title: {
                text: '키봇 사용 현황',
                floating: true,
                offsetY: 330,
                align: 'center',
                style: {
                    color: '#444'
                }
            },
        }

        var chart = new ApexCharts(
            document.querySelector("#chart"),
            options
        );

        chart.render();


    </script>
</body>
    <script type="text/javascript">

    $(function(){
        $('#fromDate').datepicker({
        });

        $('#toDate').datepicker({
            maxDate: "+1D"
        });
    });

    $('input[type=radio][name=optionRadios]').on('click',function () {
        var chkValue = $('input[type=radio][name=optionRadios]:checked').val();

        if(chkValue == 'total'){
            $('#fromDate').attr('disabled', 'disabled').val('');
            $('#toDate').attr('disabled', 'disabled').val('');

        }
        else
        {
            $('#fromDate').removeAttr('disabled');
            $('#toDate').removeAttr('disabled');
        }

    });
</script>

</html>